.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;

    @media (min-width: 768px) and (max-width: 1023px) {
      align-items: start;
    }
  }

  &_logo {
    display: block;
  }

  &_list {
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: 12px;
    color: $c-main-onSurface;

    li {
      cursor: pointer;
    }

    @media (max-width: 1024px) {
      gap: 20px;
      font-size: 10px;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      flex-direction: column;
    }
  }

  &_phone {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $c-main-onSurface;

    @media (max-width: 1024px) {
      font-size: 6px;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      align-items: start;
    }

    h2 {
      font-size: 16px;

      @media (max-width: 1024px) {
        font-size: 14px;
      }
    }
  }
}
