.main-page {
  &_wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 80px 0;

    @media (max-width: 1024px) {
      gap: 40px;
      padding: 40px 0;
    }

    @media (min-width: 767px) and (max-width: 1023px) {
      gap: 20px;
      padding: 30px 15px;
    }
  }
}

.banner {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  padding: 2px 67px;

  @media (min-width: 768px) and (max-width: 1023px) {
    justify-content: center;
  }

  &_img {
    display: block;
    width: 303px;
    height: 202px;

    @media (max-width: 1024px) {
      width: 250px;
      height: 150px;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      width: 200px;
      height: 100px;
    }
  }

  &_title {
    font-size: 48px;
    font-weight: 700;
    color: $c-main-onSurface;

    @media (max-width: 1024px) {
      font-size: 30px;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: 18px;
    }
  }
}

.new {
  &_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;

    @media (max-width: 1024px) {
      gap: 20px;
    }
  }
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: $c-main-onSurface;
  margin-bottom: 40px;

  @media (max-width: 1024px) {
    font-size: 30px;
    margin-bottom: 20px;
  }

  @media (min-width: 767px) and (max-width: 1023px) {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 1024px) {
  }

  @media (min-width: 767px) and (max-width: 1023px) {
    flex-direction: row;
    gap: 20px;
  }
}
