@font-face {
  font-weight: 400;
  font-family: Robik;
  font-style: normal;
  src: url("../fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: Robik;
  font-style: normal;
  src: url("../fonts/Rubik-Bold.ttf") format("truetype");
}
