// ----- colors
$c-success: #008c49;
$c-info: #1cb9fc;
$c-Warning: #fca21c;
$c-Error: #d80000;
$c-grayscale-lightest: #f3f2f1;
$c-grayscale-light: #bfbfbf;
$c-grayscale-hard: #8f8f8f;
$c-grayscale-hardest: #606060;
$c-main-background: #f4f4f2;
$c-main-surface: #ffffff;
$c-main-primary: #ff6633;
$c-main-secondary: #70c05b;
$c-main-onBackground: #291e0f;
$c-main-onSurface: #414141;
$c-main-onPrimary: #ffffff;
$c-main-onSecondary: #ffffff;

// ----- break point
$bp-desktop: 1024;
$bp-table: 768;
